h1{
    color: black;
}

img{
    border: 2px solid black
}

/*This is css for Classes*/
.bullet-point{
    font-weight: bold;
}

/*This is for id*/
#war{
    color: darkgreen;
    font-weight: 800;
}

#fantasy{
    color: goldenrod;
    font-weight: 800;
}

/* id should be for single unique element per html file*/

/*You can also select according to properties

In this case the tag <a with the attribute draggable will be selected*/

a[draggable]{
    color: pink;
}

/* *is the select all */


/* for font size em is determined by the parent 

   on the otherhand rem is determined by the root of the page
   2em is twice of the parents pixel size, same for 2rem
   
   rem recommended*/